@import "custom-mixins";
@import "plugins";

//global vars
$color-primary: #3ABA5D;
$color-headings: #000;
$color-body-text: #000000;
$color-primary-lighter: #0ad0fd;
$color-grey-blue: #f4f7fc;
$transition-links-in: all 0.3s ease-in-out;
$transition-links-out: all 0.45s ease-out;
$transition-header: all 0.2s ease-out;

//typography
$font-body: "work-sans",sans-serif;
$font-condensed: "proxima-nova-condensed",sans-serif;
$font-headings: "proxima-nova-condensed",sans-serif;
* {
	-webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}
body {
	font-family: $font-body;
	font-size: 18px;
	font-weight: 300;
	color: $color-body-text;
}
@for $index from 1 through 6 {
  h#{$index}, .h#{$index}{
    color: $color-headings;
  }
}
h1, h2, .h1, .h2 {
	font-family: $font-headings;
	font-weight: 600;
}
h3, h5, .h3, .h5 {
	font-family: $font-condensed;
	font-weight: 500;
}
h2, .h2 {
	font-size: 2.7em;
	line-height: 1.1em;
	margin: 15px 0;
}
h3 {
	font-size: 2em;
	margin-bottom: 15px;
}
h4, .h4 {
	font-weight: 600;
	font-family: $font-headings;
	font-size: 1.9em;
	letter-spacing: -0.3px;
	margin: 15px 0;
	line-height: 1.2em;
}
h5, .h5 {
	font-size: 1.5em;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: 1.17em;
	@include media-breakpoint-down(sm) {
		font-size: 1.15em;
	}
}
h6, .h6 {
	font-family: $font-body;
	font-weight: 500;
	margin: 0.7em 0;
	font-size: .8em;
}

body:not(.home) {
	h1, .h1 {
		font-size: 3em;
	}
	h2, .h2 {
		font-size: 2.6em;
	}
	h3, .h3 {
		font-size: 2.25em;
	}
	h4, .h4 {
		font-size: 1.9em;
	}
	h5, .h6 {
		font-size: 1.5em;	
	}
	h6, .h6 {
		font-size: 1.2em;
	}
}

.white-text, p.white-text {
	color: white;
}
div > h1:first-child, div > .h1:first-child, div > h2:first-child, div > .h2:first-child, div > h3:first-child, div > .h3:first-child, div > h4:first-child, div > .h4:first-child, div > h5:first-child, div > .h5:first-child, div > h6:first-child, div > .h6:first-child, div > p:first-child {
	margin-top: 0;
}
ul.list-no-format {
	list-style: none;
	padding-left: 0 !important;
	margin: 0;
}
.huge-title {
	font-size: 3.8em;
	line-height: 1em;
}
a {
	text-decoration: none;
	outline: 0 !important;
	&:hover {
		text-decoration: none;
		outline: 0;
	}
	&:visited {
		color: $color-primary;
	}
}
b, strong {
    font-weight: 500;
}
.text-right, .text-right p {
	text-align: right !important;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}

/*

// transitions
body.hide-elements {
	.hide {
		opacity: 0;
		&.now-in-view {
			opacity: 1;
			transition: all .5s cubic-bezier(0.5, 1, 0.3, 1);
		}
	}
}
*/

.green_border {
    position: relative;
    padding-bottom: 20px;
}

.green_border:after {
    content: '';
    background: #3ABA5D;
    height: 2px;
    width: 4px;
    position: absolute;
    bottom: 0;
    right: -120px;
    left: 0;
    margin: auto;
    
    @include media-breakpoint-up(sm) {
        margin-top: 20px;
    }
}

.green_border:before {
    content: '';
    background: #3ABA5D;
    height: 2px;
    width: 112px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    
    @include media-breakpoint-up(sm) {
        margin-top: 20px;
    }
}

body:not(.home) {
	.site-header {
		position: absolute;
	}
}

// header
.site-header {
	position: fixed;
	width: 100%;
	padding: 20px 0;
	z-index: 9;
	#right-menu {
		align-items: center;
		display: flex;
	}
	&.light {
		#nav-toggle rect {
			fill: #fff;
			transition: $transition-header;
		}
		a.btn-header {
			color: #fff;
		}
	}
	&.dark {
		#nav-toggle rect {
			fill: #000;
			transition: $transition-header;
		}
		.logo {
			a {
				background-image: url(img/TT/thinktree-logo-dark.svg);
			}
		}
		#nav-toggle:before {
			color: #000;
		}
		a.btn-header {
			color: #000;
			//background: rgba(0, 0, 0, 0);
			border-color: #000;
			transition: $transition-header;
		}
		#portfolio {
			a {
				color: black !important;
			}
			#portfolioline {
				background: black;
			}
		}
	}
	.container-wide {
		max-width: 1600px;
	}
	.header-inner {
		position: relative;
	}
	#nav-toggle {
		align-self: center;
		width: 53px;
		margin-left: 40px;
		cursor: pointer;
		z-index: 13;
		margin-top: 6px;
		position: relative;
		svg {
			rect {
				transition: $transition-links-out;
				transition-delay: 250ms;
			}
		}
		&:before {
			position: absolute;
			content: "MENU";
			width: 100%;
			text-align: center;
			top: 5px;
			transform: translateY(4px);
			font-size: 11px;
			letter-spacing: 2px;
			font-weight: 600;
			color: white;
			opacity: 0;
			transition: $transition-links-out;
		}
		&:after {
			position: absolute;
			content: "CLOSE";
			width: 100%;
			text-align: center;
			left: 0;
			top: 5px;
			transform: translateY(4px);
			font-size: 11px;
			letter-spacing: 2px;
			font-weight: 600;
			color: white;
			opacity: 0;
			transition: $transition-links-out;
		}
		&:hover {
			svg {
				#dot1 {
					transform: translateX(-5px);
					transition: $transition-links-in;
				}
				#dot2 {
					transform: translateX(5px);
					transition: $transition-links-in;
				}
				#bar1 {
					opacity: 0;
					transform: translateY(-4px);
					transition: $transition-links-in;
				}
				#bar2 {
					opacity: 0;
					transform: translateX(-4px);
					transition: $transition-links-in;
				}
				#bar3 {
					opacity: 0;
					transform: translateY(4px);
					transition: $transition-links-in;
				}
			}
			&:before {
				transform: translateY(0);
				opacity: 1;
				transition: $transition-links-in;
				transition-delay: 100ms;
			}
		}
	}
}
.open-menu .site-header {
	.logo .color-fill {
		fill: #fff;
		transition: $transition-header;
		transition-delay: 300ms;
	}
	&.dark .logo .white-fill {
		fill: #fff;
		transition: $transition-header;
	}
	&.dark a.btn-header {
		border-color: white !important;
		color: white;
		transition: $transition-header;
	}
	#nav-toggle {
		svg {
			rect {
				fill: black;
				color: black;
			}
			#dot1 {
				transform: translateX(6px) translateY(7px);
				transition: $transition-links-in;
			}
			#dot2 {
				transform: translateX(-6px) translateY(-7px);
				transition: $transition-links-in;
			}
			#bar1 {
				transform: rotate(45deg) translate3d(2px, -12px, 0);
				transition: $transition-links-in;
			}
			#bar2 {
				opacity: 0;
				transform: translateX(-4px);
				transition: $transition-links-in;
			}
			#bar3 {
				transform: rotate(-45deg) translate3d(-15.5px, 4px, 0);
				transition: $transition-links-in;
			}
		}
		&:after {
			color: black;
		}
		&:hover {
			svg {
				#dot1 {
					transform: translateX(-5px) translateY(0px);
					transition: $transition-links-in;
				}
				#dot2 {
					transform: translateX(5px) translateY(0px);
					transition: $transition-links-in;
				}
			}
			&:before {
				transform: translateY(4px);
				opacity: 0;
			}
		}
		&.close-language {
			&:hover {
				&:before {
					transform: translateY(4px);
					opacity: 0;
				}
				&:after {
					transform: translateY(0px);
					opacity: 1;
				}
			}
		}
	}
}
.site-title, .site-description {
	display: none;
}
.logo {
	a {
		display: block;
		background:url(img/TT/thinktree-logo.svg);
		background-repeat: no-repeat;
		background-size: 100%;
		width: 100%;
		height: 70px;
	}
	.white-fill {
		fill: #fff;
		transition: $transition-header;
	}
	.color-fill {
		fill: #2ec9f6;
		transition: $transition-header;
	}
	width: 160px;
	height: auto;
	@include media-breakpoint-down(sm) {
		width: 120px;
	}
}
#site-navigation {
	background: transparent;
    width: 100%;
    position: absolute;
    top: 160px;
    padding: 16px 0;
    display: none;
    z-index: 11;
    height: 100%;
    &.main-navigation {
	    #primary-menu {
		    display: block !important;
			margin-left: 30px;
	    }
    	li {
		    float: none;
		    text-align: left;
		    display: block;
		    font-size: 30px;
		    margin-bottom: 30px;
		    transition: all .3s ease-in-out;
		    a {
			    display: inline-block;
			    color: white;
			    width: auto;
			    position: relative;
			    padding: 0;
			    opacity: 0.7;
			    transition: all .5s ease-in-out;
			    white-space: nowrap;
			    font-family: $font-headings;
			    font-weight: 700;
			    
			    &:before {
				    width: 150px; height: 2px;
				    position: absolute;
				    left: -170px; top: 50%; margin-top: -2px;
				    background: white;
				    content: "";
				    transform: scaleX(0);
				    transform-origin: center left;
				    transition: all .5s ease-in-out;
				}
		    }
		    &:not(.show-sub) a:hover {
			    opacity: 1;
			    transform: translateX(25px);
			    transition: all .6s ease-in-out;
			    &:before {
				    transform: scaleX(.98);
				    transition: all .6s;
			    }
		    }
		    &.show-sub a {
			    opacity: 1;
			    &:before {
				    
			    }
		    }
		}
		.menu-item-has-children {
			&>a {
				&:after {
	 				content: '';
					display: inline-block;
					width: 12px;
					height: 6px;
					margin-bottom: 3px;
					margin-left: 7px;
					transition: $transition-links-out;
	 				background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="11.45" height="5.81" viewBox="0 0 11.45 5.81"><path d="M11.45,0,7,5.2a1.65,1.65,0,0,1-2.56,0L0,0H1.32L5.2,4.55a.66.66,0,0,0,1,0L10.13,0Z" style="fill:#fff"/></svg>') no-repeat;
				}
			}
			.sub-menu {
			    display: none;
			    margin-left: 10px;
			    li {
					font-size: 0.75em;
					margin-bottom: 6px;
					a {
						color: #bfc1c5;
						width: auto;
						transition: all .5s;
						
						&:hover {
							color: white;
							opacity: 1;
							transition: all .6s ease-in-out;	
						}
					}
				}
    		}
			&.show-sub {
				&>a:after {
					transform: rotateX(180deg);
					transition: $transition-links-in;
					opacity: 1;
				}
		    }
		}
    }
}
.pre-menu-container {
    width: 100%;
    overflow: hidden;
    position: fixed;
    height: 100%;
    z-index: 8;
    display: none;
}
.pre-menu-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    background: #444546;
}

//home hero
.home-hero {
	text-align: center;
	position: relative;
	padding: 10em 0 10em 0;
	min-height: 100vh;
	background-size:cover;
	align-items: center;
    display: flex;
    overflow: hidden;
    
	.bg-overlay {
		background: rgba(0,0,0,0.7);
	}
	h1, h3 {
		color: #fff;
	}
	h1 {
		margin-bottom: 30px;
	}
	h3 {
		font-size: 1.5em;
	}
	span{
		color:#3ABA5D;
	}
	.bgvid {
	    position: absolute;
	    top: 0;
	    left: 0;
	    min-width: 100%;
	    min-height: 100%;
	    z-index: 1;
	}
}

//home page
body.home {
	@media (min-width: 1400px) {
		.container {
			max-width: 1260px;
		}
	}
}

.page-template-default {
	.hero {
		
	}
}



//home page products list

.all-products-wrapper{
	    margin-top: 60px;
}

.parallax-bg {
	position: absolute;
	width:100%;
	height:100%;
}


#healthio{
	position:relative;
	
	.parallax-bg {
		background: url(img/TT/project-1-background.png);
	}
}

#wicis-sports{
	position:relative;

	.parallax-bg {
		background: url(img/TT/project-2-background.png);
	}
    
    img{
	    max-width:60%;
    }
}

#luminaid{
	position:relative;

	.parallax-bg {
		background: url(img/TT/project-3-background.png);
	}
}

#pica{
	position:relative;

	.parallax-bg {
		background: url(img/TT/project-4-background.png);
	}
}

.product-tags{
	margin-top:5px;
	display: flex;
	div{
	font-size:12px;
	text-transform:uppercase;
	font-weight: 400;
	padding:3px 10px;
	border-radius: 6px;
	margin-right:10px;
	color:#ffffff;
	background-color:$color-primary;
	}
}



.product-row {
	padding: 100px 0;
	position: relative;
	.product-inner {
		position: relative;
		z-index: 4;
		    padding: 75px 0px;
		    
		    .img-wrapper{
			    text-align: center;
		    }
		    
		    img{
			    text-align: center;
		    }

		
		p{
			margin:15px 0px 30px 0px;
		}
	}
	.span-line {
		margin: 10px 0 6px;
	}
	h2 {
		margin: 0 0;
	}
	.h6 {
		font-weight: 400;
		margin-top: 0;
		span {
			font-weight: 500;
		}
	}
	.parallax-bg {
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center top;
	}
	.txt-col {
		@include media-breakpoint-up(lg) {
			padding-right: 10%;
		}
	}
	&.invert-columns {
		.reverse-wrap-mobile {
			@include media-breakpoint-up(md) {
				flex-direction: row-reverse;
			}
			@include media-breakpoint-up(lg) {
				.txt-col {
					
				}
			}
		}
	}
}



//our services

#services{
	background-image: url(img/TT/services.jpg);
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	
	#services-inner{
		display:flex;
		align-items: center;

		* {
			color:#ffffff;
		}
		
		.services-content{
			
		}
		
		.services-titles {
			@include media-breakpoint-up(md) {
				padding-left: 30px;
			}
			@include media-breakpoint-up(lg) {
				padding-left: 100px;
			}
			
			h5 {
				font-size: 24px;
				text-transform: uppercase;
				margin: 15px 0px;
				@include media-breakpoint-down(md) {
					font-size: 21px;
				}
				@include media-breakpoint-down(sm) {
					margin-right: 25px;
					font-weight: 600;
				}
			}
			
			.service-nav-item {
				opacity: 0.6;
				position: relative;
				cursor: pointer;
				&:before {
					content:'•';
					font-size:25px;
					position: absolute;
					left: -20px;
					top: -6px;
					opacity: 0;
					@include media-breakpoint-down(sm) {
						display: none;
					}
				}
			}
			
			.active {
				opacity: 1;
				&:before {
					opacity: 1;
				}
			}
		
			.service-nav-item:before {
				content:'•';
				font-size:25px;
				padding-right:10px;
			}
		}
	}
}


//about us
.about-us {
	position: relative;
	.container {
		z-index: 1;
		position: relative;
	}
}



//clients
.our-clients-wrapper {
	background-color: white;
		img {
			display: block;
			margin: 0;
			max-width: 100%;
			height: auto;
		}
		logo {
    		margin: 0 auto;
			align-content: center;
    	}
		.my-flex-item {
			background-color: white;
			border-right: 1px solid #dcdcdc;
			height: 140px;
			width: 222px;
			display: flex;
			align-items: center;
		}
		div:nth-of-type(5n) {
			border: none;
		}
		
		#logos-container{
			display:flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			margin-top: 20px;
			
			.logo-wrap {
				@include media-breakpoint-up(md) {
					padding:20px 40px;
				}
				@include media-breakpoint-up(lg) {
					width:20%;
				}
				img {
					max-width: 130px;
					margin-left: auto;
					margin-right: auto;
				}
				@include media-breakpoint-down(sm) {
					flex-basis: 30%;
					margin-bottom: 15px;
					img {
						max-width: 80px;
					}
				}
			}
		}
}

//Accolades

#accolades {
	background-color:#F9F9F9;
	text-align: center;
	
	.accolades-container {
        margin-top: 40px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        
        .accolade-wrap {
            box-shadow: 0px 0px 30px rgba(0,0,0,.08);
            padding: 30px;
            &:first-child {
	            margin-left: 0;
            }
        
            img {
                width: 100%;
                height: auto;
                margin: 0;
            }
            
        }
        
	}
    
}

// Process



#process {
	background:url(img/TT/process-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
    * {
        color: #ffffff;
    }
    
	#process-titles {
        @include media-breakpoint-up(lg) {
	       display: flex;
		   align-items: flex-start;
		   flex-wrap: wrap;
	    }
    
        .process-titles-slider {
	        display: flex;
	        justify-content: space-between;
	        align-items: flex-start;
	        flex-wrap: wrap;
	        flex-grow: 1;
        	div {
	        	margin-right: 15px;
				@include media-breakpoint-up(lg) {
					flex-basis: 100px;
					margin: 0px 20px;
				}
			}
        }

        .process-nav-item {
            opacity:.6;
            cursor: pointer;
            h5 {
	            border-bottom: 2px solid transparent;
	        }
            &.active {
	            opacity: 1;
            }
        }   
	
        .active {
	        h5 {
	            border-color: white;
	        }
        } 

        .num {
            font-size: 16px;
            font-weight: 800;
            color: #000000;
            opacity: 0.7;
        }

        h2 {
            margin: 0px 80px 0px 0px;
        }

        h5 {
            font-size: 24px;
            text-transform: uppercase;
            margin-top: 0px;
            font-weight: 600;
			@include media-breakpoint-down(lg) {
				font-size: 21px;
			}
        }
		
	}
	
	#process-content {
		
		.process-content-single {
			width: 100%;
            @include media-breakpoint-up(md) {
	        	display: flex !important;
				justify-content: space-between;
	            align-items: flex-start;
	        }
			img {
				width: 200px;
			}
			div {
				padding-top: 20px;
				width: 100%;
				@include media-breakpoint-up(md) {
					margin-left: 60px;
				}
			}
		}
		
		img {
			width: 22%;
			height: 100%;
		}
        
	}
    
}



#blog{
	
    .green_border:after {
        margin: 0;
        right: auto;
        left: 115px;
    }
	
    .green_border:before {
        margin: 0;
        right: auto;
    }
	
	.blog-container {
        margin-top: 60px;
        display: flex;
        align-items: flex-end;
        height: 450px;

        .blog-wrap {
            margin: 0px;
            display:flex;
            color:#ffffff;
            background-size:cover;
            background-position: center center;
            height:100%;
            .blog-wrap-inner {
	            width: 100%;
	            height: 100%;
	            background-size:cover;
				background-position: center center;
				align-items: flex-end;
				display: flex;
				text-transform:uppercase;
				padding:15px;
				p {
					margin: 0;
					font-weight: 600;
					font-family: $font-headings;
					&.h4 {
						color: white;
					}
				}
            }
        }

        .blog-left {
            height: 100%;
        }
    
        .blog-right {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size:16px;

            .blog-wrap:first-child {
	            @include media-breakpoint-up(lg) {
	            	margin-bottom: 35px;
	            }
            }
            
        }
	}
	/*
	#blog-1{
	background:url(img/TT/blog-1.jpg);
	background-size:cover;
	background-position: center center;
	height:100%;
	}
	
	#blog-2{
	background:url(img/TT/blog-2.jpg);
	background-size:cover;
	background-position: center top;
	height:100%;
	font-size:20px;
	margin-bottom: 20px !important;
	
	}


	#blog-3{
	background:url(img/TT/blog-3.jpg);
	background-size:cover;
	background-position: center top;
	height:100%;
	font-size:20px;

	}*/
}



//contact us
.contact-us-wrapper {
    position: relative;
    background-image: url("img/TT/contact-background.jpg");
    padding-bottom: 160px;
	
	.section-title {
		color: #ffffff;
		text-align: center
	}
    
	.container {
		z-index: 3;
		position: relative;
	}
    
	.separator-top {
		z-index: 1;
	}
    
	.bg-wrapper {
		width: 70%;
		right: 0;
		z-index: 2;
		top: 50px;
		background-size: 100%;
		background-repeat: no-repeat;
	}
    
	.contact-left {
		margin-top: 100px;
	}
    
	span.wpcf7-not-valid-tip {
		font-size: 16px;
		margin-top: 5px;
	}
    
	div.wpcf7-response-output {
		margin: 15px 0;
		padding: 10px 15px;
		background: #f3eb78;
		border: 0;
		font-size: 18px;
	}
    
}

.form-wrap {
    margin:0px auto;
    position: relative;
    z-index: 3;
    padding: 10px 23px;
    color:#ffffff;
			
	input::placeholder{
        color:#ffffff;
	}
	
	textarea::placeholder{
        color:#ffffff;
	}

	input:not(.btn),
    textarea {
		color:#ffffff;
		border: 0px;
		border-bottom: solid 1px #ffffff;
		background: rgba(0,0,0,0);
		border-color: #f5f6f6;
		padding: 7px 10px;
		font-family: $font-body;
		border-radius: 0px;
		width: 100%;
		margin:10px 0px;
        
		&:focus {
			outline: none;
            color:#ffffff;

		}
        
	}
	
	textarea {
		border: 0px;
		background-color:rgba(255,255,255,.3);
		margin-top: 20px;
	}
	p {
		margin-bottom: 20px;
	}
    
	input.btn {
		color: #ffffff;
		padding: 12px 30px;
		min-width: 200px;
		font-size: 0.8em;
		font-family: $font-body;
		background: none;
		border-radius: 0;
		margin-top: -5px;
		line-height: 24px;
		cursor: pointer;
		border-color: #ffffff;
        
		&:hover {
			border-color: #ffffff;
		}
        
		&:focus {
			outline: none;
			border-color: #ffffff;
		}
        
	}
    
}




//footer
.site-footer {
	background: #f4f4f4;
	border-top: 1px solid #eaeeef;
	padding: 30px 0;
	color:#989898;
	text-align: center;
	font-weight: 400;
}

//common elements and utilities
.info-popup {
	background: #0ecdfa;
	border-radius: 100%;
	height: 30px; width: 30px;
	position: absolute;
	z-index: 3;
	margin-left: -15px; margin-top: -15px;
	left: 50%; top: 50%;
	cursor: pointer;
	&:before {
		position: absolute;
		background: rgba(14, 205, 250, 0.6);
		width: 100%; height: 100%;
		content: "";
		left: 0; top: 0;
		border-radius: 100%;
		z-index: 1;
		animation-delay: .1s;
	    transform: scale(1);
	    opacity: .5;
	    transition: all .4s ease;
	    will-change: transform, opacity;
	    animation: pulse 1.5s infinite;
	}
	svg {
		margin-left: -3.5px; margin-top: -8px;
		left: 50%;
		top: 50%;
		width: 7px;
		height: 17px;
		position: absolute;	
		z-index: 4;
	}
	.popup-content {
		position: absolute;
		width: 200px;
		background: rgba(255,255,255,0.95);
		border-radius: 4px;
		font-size: 16px;
		color: #222;
		top: -200%;
		margin-top: -10px;
		text-align: left !important;
		padding: 4px 10px;
		z-index: 5;
		display: none;
		&:after {
		  width: 0; 
		  height: 0; 
		  content: "";
		  bottom: -8px;
		  left: 10px;
		  position: absolute;
		  border-left: 8px solid transparent;
		  border-right: 8px solid transparent;
		  border-top: 8px solid rgba(255,255,255,0.95);
		}
	}
}
@keyframes pulse {
	from { transform: scale(1); opacity: .75; }
	to { transform: scale(2); opacity: .0; }
}
.contact-info-list {
	line-height: 2em;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			list-style: none;
		}
	}
}
.bg-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.offset-double-img {
	img:nth-child(1) {
		border-bottom-right-radius: 60px;
		position: absolute;
		margin-top: 150px;
		z-index: 2;
	}
	img:nth-child(2) {
		position: static;
		top: 0;
		margin-left: -120px;
		z-index: 1;
	}
}
/*
.py-standard-separator {
	padding-top: 90px;
}
*/
.section-padding {
	padding-top: 60px;
	padding-bottom: 60px;
	@include media-breakpoint-up(md) {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}
h3.section-title {
	margin-top: 0;
}
.section-vertical-padding {
	padding-top: 150px;
	padding-bottom: 100px;
}
.spin {
	animation-name: spin;
	animation-duration: 100s;
	animation-iteration-count: infinite;
	animation-timing-function: linear; 
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.position-relative {
	position: relative;
}
.position-absolute {
	position: absolute;
}
.span-line {
	display: block;
	background-color: $color-primary;
	width: 25px; height: 3px;
	border-radius: 5px;
	margin: 12px 0;
}
.float-right {
	float: right;
}
.img-circle-group {
	position: relative;
	.circle-element {
		background: #f4f7fc;
		border-radius: 100%;
		width: 390px; height: 390px;
		position: absolute;
		z-index: 1;
		top: 0; left: 0;
	}
	img {
		z-index: 2;
		position: relative;
		margin: 40px 0px 0 40px;
	}
}
/*
.seperator-white path {
	fill: white;
}
.separator-bottom {
    position: absolute;
    z-index: 3;
    bottom: -1px; left: 0;
    width: 100%; height: 0;
    .seperator {
	    position: absolute;
	    bottom: -1px;
	    left: 0;
	}
	&.separator-curve {
	}
}
.separator-top {
    position: absolute;
    z-index: 3;
    top: -1px; left: 0;
    width: 100%; height: 0;
    .seperator {
	    position: absolute;
	    top: -1px;
	    left: 0;
	}
}
*/
/*
.has-curve-bottom {
	padding-bottom: 760px !important;
	&+.product-row .product-inner {
		margin-top: -760px;
	}
}
*/
.container-wide {
	max-width: none;
	padding-left: 30px;
	padding-right: 30px;
	margin: 0 auto;
	width: 100%;
}
.bg-overlay {
	position: absolute;
	height: 100%; width: 100%;
	left: 0; top: 0;
	z-index: 2;
}
.hero-content {
	z-index: 3;
	position: relative;
}
.bg-img {
	width: 100%; height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	z-index: 1;
}
.bottom-bg {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 190px;
}

//buttons
.btn {
	background: none;
	border-radius: 0;
	padding: 11px 30px;
	min-width: 200px;
	display: inline-block;
	text-align: center;
	font-size: 0.8em;
	letter-spacing: 1px;
	font-family: $font-body;
	font-weight: 600;
	text-transform: uppercase;
	transition: $transition-links-out;
	position: relative;
	&:visited {
		color: inherit;
	}
	span {
		width: 100%;
		height: 100%;
		transform: scaleY(0);
		position: absolute;
		left: 0; top: 0;
		background: $color-primary;
		transition: $transition-links-out;
		z-index: -1;
		transform-origin: top;
	}
	&:hover {
		transition: $transition-links-in;
		box-shadow: 0 15px 30px 0 rgba(0,0,0,0.3);
		transform: translate3d(0, -4px, 0);
		span {
			transform: scaleY(1);
			transition: all .25s cubic-bezier(0.5, 1, 0.3, 1);
		}
	}
}
.btn-outline {
	border: 1px solid;
	&.btn-primary {
		border-color: $color-primary;
		&:hover {
			color: white;
			background: $color-primary;
		}
	}
}
.btn-primary {
	color: $color-primary;
	&:visited {
		color: $color-primary;
	}
}
.btn-white {
	color: white;
	background: transparent;
	&:visited {
		color: white;
	}
	&:hover {
		border-color: $color-primary;
	}
}
a.btn-header {
	border: 1px solid white;
	padding: 8px 25px;
	min-width: 0;
	font-size: 0.75em;
	letter-spacing: 1px;
	font-family: $font-body;
	font-weight: 500;
	text-transform: uppercase;
	color: white;
	transition: $transition-links-in;
	overflow: hidden;
	span.filler {
		width: 101%;
	}
	&:hover {
		color: white !important;
		border-color: $color-primary !important;
		background-color:$color-primary;
	}
}


// colors
.grey-blue-bg {
	background: $color-grey-blue;
}
.white {
	color: white;
}
.bg-white {
	background: white;
	z-index: 0;
}



$color-primary-mix: darken($color-primary, 10%);
// inside pages
.hero {
	&:not(.has_bg_color) {
		background: $color-primary;
		background: -moz-linear-gradient(top, $color-primary 30%, $color-primary-mix 100%);
		background: -webkit-linear-gradient(top, $color-primary 30%,$color-primary-mix 100%);
		background: linear-gradient(to bottom, $color-primary 30%,$color-primary-mix 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-primary', endColorstr='$color-primary-mix',GradientType=0 );
	}
	padding: 0;
	width: 100%;
	position: relative;
	display: flex;
	align-items: stretch;
	overflow: hidden;
	@include media-breakpoint-up(lg) {
		min-height: 700px;
	}
	.custom-container {
		width: 100%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		top: 0;
		padding: 110px 15px 30px;
		@include media-breakpoint-up(md) {
			padding: 140px 15px 30px;
		}
		@include media-breakpoint-up(lg) {
			position: absolute;
			padding: 60px 0;
		}
		.rowz {
			height: 100%;
			display: flex;
			flex-wrap: wrap;
			@include media-breakpoint-up(lg) {
				padding-left: 30px;
			}
			@media screen and (min-width: 1460px) {
				max-width: 1460px;
				margin-left: auto;
				margin-right: auto;
			}
			@media screen and (min-width: 1520px) {
				max-width: 1500px;
			}
			.content-col {
				align-items: center;
				display: flex;
				width: 100%;
				justify-content: flex-end;
				@include media-breakpoint-up(lg) {
					width: 50%;
				}
				.entry-header {
					width: 100%;
					text-align: left;
					
					@include media-breakpoint-up(md) {
						padding-right: 15px;
						padding-left: 15px;
					}
					@include media-breakpoint-up(lg) {
						padding-left: 30px;
					}
					@include media-breakpoint-up(xl) {
						padding-left: 0;
					}
				}
			}
			.img-col {
				width: 100%;
				position: relative;
				@include media-breakpoint-up(lg) {
					width: 50%;
				}
				@include media-breakpoint-up(md) {
					padding-left: 30px;
				}
			}
		}
	}
/*
	.container {
		z-index: 5;
		position: absolute;
		display: flex;
		height: 100% !important;
		width: 100%;
	}
*/
	h1.entry-title {
		color: white;
		font-size: 3em;
		margin: 15px 0;
		line-height: 1em;
		@include media-breakpoint-down(sm) {
			font-size: 2.5em;
		}
	}
	.sub-title {
		font-size: 1.3em;
		@include media-breakpoint-up(xl) {
			font-size: 1.5em;
		}
		color: white;
		font-family: $font-condensed;
		margin: 15px 0;
	}
	.img-overlay {
		position: absolute;
		width: 100%; height: 100%;
		left: 0; top: 0;
		z-index: 1;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.parallax-overlay {
		position: relative;
		width: 100%;
		z-index: 2;
		text-align: right;
		@include media-breakpoint-up(lg) {
			position: absolute;
			width: 100%; height: 100%;
			left: 30px; top: 0;
		}
		@include media-breakpoint-up(xl) {
			left: 90px;
		}
		.parallax-img {
			right: 0;
			position: relative;
			@include media-breakpoint-up(lg) {
				position: absolute;
				left: 0; bottom: 0;
			}
		}
	}
	&.single-hero {
		min-height: 0;
		padding-top: 160px;
		padding-bottom: 80px;
	}
}


//section
$spacerx: 3.5rem;
.section {
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 5rem;
	padding-bottom: 5rem;
	@include media-breakpoint-down(md) {
		padding-top: $spacerx;
		padding-bottom: $spacerx;
	}
	&.regular-pt {
		padding-top: 5rem;
		@include media-breakpoint-down(md) {
			padding-top: $spacerx;
		}
	}
	&.regular-pb {
		padding-bottom: 5rem;
		@include media-breakpoint-down(md) {
			padding-bottom: $spacerx;
		}
	}
	&.no-bg + .section.no-bg:not(.regular-pt) {
		padding-top: 0;
	}
	&.no-bg-color + .no-bg-color:not(.regular-pt) {
		padding-top: 0;
	}
	&.seperator-y {
		padding-top: 7.5rem;
		padding-bottom: 7.5rem;
		@include media-breakpoint-down(md) {
			padding-top: 5rem;
			padding-bottom: 5rem;
		}
	}
	&.minimal-pt {
		padding-top: 35px !important;
		@include media-breakpoint-down(sm) {
			padding-top: 25px !important;
		}
	}
	&.minimal-pb {
		padding-bottom: 35px !important;
		@include media-breakpoint-down(sm) {
			padding-bottom: 25px !important;
		}
	}
	&.no-pb {
		padding-bottom: 0 !important;
		@include media-breakpoint-down(sm) {
			padding-bottom: 0 !important;
		}
	}
	&.no-pt {
		padding-top: 0 !important;
		@include media-breakpoint-down(sm) {
			padding-top: 0 !important;
		}
	}
	&.narrow_width {
		@include media-breakpoint-up(lg) {
			.container {
				max-width: 860px;
			}
		}
	}
	&.center-title {
		.section-title {
			text-align: center;
		}
	}
	&.center-title {
	
	}
	&.center-all {
		& * {
			text-align: center;
		}
	}
	&.v-center-content {
		.boxes-row {
			align-items: center;
		}
	}
	&.white-text * {
		color: white;
	}
	.title {
		text-align: center;
		padding-bottom: 2.5rem;
		@include media-breakpoint-up(lg) {
			&.hr_border {
				padding-bottom: 4rem;
			}
		}
		h2 {
			margin-top: 0;
			@include media-breakpoint-down(md) {
				br {
					display: none;
				}
			}
		}
		p {
			text-align: center;
			margin-bottom: 10px;
			font-size: 1.25rem;
		}
		&.title-left {
			text-align: left;
			h2 {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
	&:not(.disable-img-shadow):not(.prallax_hero) {
		img {
			box-shadow: 0 5px 50px rgba(0,0,0,0.2);
		}
	}
	&.no_subtitle {
		.section-title {
			margin-bottom: 0;
		}
	}
	@include media-breakpoint-down(md) {
		h2 {
			br {
				display: none;
			}
		}
	}
}

.section .boxes-row {
	.boxes-col {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
	}
}


//about-deliverables
.about-deliverables {
	ul {
		color: #555;
		.h5 {
			color: inherit;
		}
	}
}

//customer-reviews
.customer-reviews {
	.review-header {
		i {
			color: rgba(0,0,0,0.5);
		}
	}
	@include media-breakpoint-up(md) {
		.row {
			align-items: center;
		}
	}
}

//prallax_hero
.prallax_hero {
	position: relative;
	overflow: hidden;
	.p-bg {
		position: absolute;
		left: 0; top: 0;
		height: 100%;
		width: 100%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.container {
		position: relative;
		z-index: 1;
	}
	.parallax-img {
		max-width: 600px;
	}
}

.border-right {
	@include media-breakpoint-up(md) {
		border-right: 3px solid $color-primary;
	}
}

.wide-gutter {
	@include media-breakpoint-up(md) {
		& > div:not(:first-child):not(:last-child) {
			padding-left: 30px;
			padding-right: 30px;
		}
		& > div:first-child {
			padding-right: 30px;
		}
		& > div:last-child {
			padding-left: 30px;
		}
	}
	@include media-breakpoint-up(lg) {
		& > div:not(:first-child):not(:last-child) {
			padding-left: 60px;
			padding-right: 60px;
		}
		& > div:first-child {
			padding-right: 60px;
		}
		& > div:last-child {
			padding-left: 60px;
		}
	}
}

.wide-gutter-lg {
	@include media-breakpoint-up(lg) {
		& > div:not(:first-child):not(:last-child) {
			padding-left: 60px;
			padding-right: 60px;
		}
		& > div:first-child {
			padding-right: 60px;
		}
		& > div:last-child {
			padding-left: 60px;
		}
	}
}

.overview {
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
	.span-line {
		margin: 12px auto;
		width: 44px;
	}
}
.content-area {
	ul {
		margin-left: 0;
		padding-left: 20px;
		&.ul-w-images {
			padding-left: 0;
			display: flex;
			flex-wrap: wrap;
			li:nth-child(odd) {
				padding-left: 10px;
			}
			li {
				display: flex;
				flex-basis: 50%;
				flex-wrap: wrap;
				line-height: 1em;
				margin-bottom: 15px;
				&.li-with-img {
					align-items: center;
					margin-bottom: 25px;
					display: flex;
					flex-wrap: nowrap;
					img {
						margin-right: 10px;
						display: flex;
					}
					.li-content {
						display: flex;
					}
				}
			}
		}
	}
}
.product-content-row {
	margin-top: 3.5em;
}
body.products-template-default {
	#primary {
		margin-top: 3.5em;
		margin-bottom: 70px;
	}
}

.next-article-wrapper {
	background: black;
	.next-article-inner {
		border: 1px solid white;
		padding: 100px 30px;
		text-align: center;
		display: block;
		transition: $transition-links-out;
		p {
			color: white;
			transition: $transition-links-out;
			&.h2 {
				margin-bottom: 0;
			}
		}
		&:hover {
			box-shadow: 0px 10px 50px rgba(255,255,255,.8);
			transition: $transition-links-in;
			.h5 {
				transform: translate3d(0, -5px, 0);
				transition: $transition-links-in;
			}
			.h2 {
				transform: translate3d(0, 5px, 0);
				transition: $transition-links-in;
			}
		}
	}
	
}

.footer-cta {
	background: url("./img/contact-bg.jpg") no-repeat center center;
	background-size: cover;
	position: relative;
	color: #accfff;
	padding: 100px 0 60px;
	@include media-breakpoint-down(md) {
		padding: 45px 0;
	}
	overflow-x: hidden;
	h2 {
		font-size: 2.3em;
		font-family: $font-condensed;
		font-weight: 500;
		color: white;
		letter-spacing: -0.3px;
		margin-bottom: 10px;
	}
	p {
		margin-top: 0px;
	}
	.btn {
		background-size: 25px;
		background-position: 35px center;
		background-repeat: no-repeat;
		padding: 15px 45px;
		cursor: pointer;
	}
	
}

//contact forms
.wpcf7 {
	input, select {
		background: none;
		border-top: 0;
		border-left: 0;
		border-right: 0;
		border-radius: 0;
		box-shadow: 0;
		margin-bottom: 5px;
		color: white;
		border-color: white;
		width: 100%;
		&:focus {
			outline: none;
		}
		&::placeholder {
			color: white;
			font-weight: 300;
		}
	}
	.wpcf7-form-control-wrap {
		margin-bottom: 45px;
		display: block;
	}
	textarea {
		border: 1px solid white !important;
		border-radius: 0;
		box-shadow: 0;
		padding: 15px;
		background: transparent;
		width: 100%;
		color: white;
		&:focus {
			outline: none;
		}
		&::placeholder {
			color: white;
			font-weight: 300;
		}
	}
	.your-message {
		width: 100%;
		margin-bottom: 30px;
		margin-top: 20px;
	}
	.field-row {
		display: flex;
		width: 100%;
		justify-content: space-between;
		flex-wrap: wrap;
		.field-third {
			width: 32%;
			@include media-breakpoint-down(md) {
				width: 100%;
			}
		}
	}
	.btn {
		margin-left: auto;
		margin-right: auto;
		border: 1px solid white;
		padding: 15px 30px;
	}
	span.wpcf7-not-valid-tip {
		color: white;
		font-size: 13px;
		font-weight: 700;
		margin-left: 5px;
	}
	.wpcf7-response-output {
		background: rgba(0,0,0,0.1);
		padding: 15px;
		border: 1px solid rgba(0,0,0,0.03);
		color: white;
		box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
		font-size: 15px;
		font-weight: 400;
	}
}

.footer-widgets-wrap {
	background: #f4f4f4;
	border-top: 1px solid #e3e3e3;
	color: #989898;
	padding: 70px 0 0;
	.sep {
		border-bottom: 1px solid #546073;
		height: 1px;
		padding-bottom: 40px;
		width: 100%;
		display: block;
	}
	p {
		color: inherit;
	}
	a {
		color: #70a1ee;
	}
	ul {
		padding: 0;
		list-style: none;
		margin: 0;
		line-height: 1.2em;
		li {
			margin-bottom: 15px;
		}
	}
	h3 {
		color: white;
		margin-top: 0;
	}
	.no-title-widget {
		padding-top: 75px;
	}
}


//responsive
@media screen and (min-width: 1600px) {
	.home-hero {
		padding: 15em 0 15em 0;
	}
}
	
@media screen and (max-width: 1340px) {
	.container-wide {
	    max-width: 100%;
	    padding-left: 30px;
	    padding-right: 30px;
	}
}


@media screen and (max-width: 1200px) {
	#portfolio{
		display: none !important;
	}
}
@media screen and (max-width: 1200px) {
	.our-clients-wrapper { 
		.my-flex-item {
			border: none;
			}
	}
	.our-clients-wrapper {
		.my-flex-item:nth-last-child(-n + 3) {
			display: none;
		}
	}
	.product-row {
		img {
			max-width: 90%;
		}
	}
	#sky-dance {
		.img-circle-group {
			max-width: 90%;
		}
	}
}
@media screen and (max-width: 1024px) {
	.services .services-nav-wrapper .nav-item {
		height: 160px;
		padding-top: 25px;
		img {
			max-height: 60px;
			width: auto;
		}
		.h4 {
			letter-spacing: 0;
			font-size: 0.75em;
			margin-bottom: 15px;
		}
	}
	.our-clients-wrapper {
		img {
			max-width: 80%;
		}
	}
	#site-navigation {
		top: 90px;
	}
}
@media screen and (max-width: 991px) {
	
	
	#blog{
		.blog-container{
			height: 100%;
			.blog-left{
				height:350px;
				margin-bottom: 20px;
			}		
			h5 {
				font-size: 30px !important;
			}
			.blog-right{
				height:700px;

			}
		}
	}
	
	#process-titles {
		margin-bottom: 30px;
		h3 {
			display: block;
		}
	}
	
	.accolades-container  {
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		
		img {
			margin-bottom: 10px;
		} 
	}
	.overview {
		max-width: 100%;
	}
	.huge-title {
	    font-size: 3.8em;
	}
	h2, .h2 {
		font-size: 2em;
	}
	h4, .h4 {
		font-size: 1.5em;
	}
	.form-wrap {
		margin-top: 30px;
	}
	.offset-double-img img:nth-child(1) {
		margin-top: 20px;
	}
	.img-circle-group {
		.circle-element {
			width: 290px;
			height: 290px;
		}
	}
	.product-row {
    	padding: 100px 0 50px 0;
	}
	.py-standard-separator {
		padding-bottom: 100px;
	}
/*
	.has-curve-bottom {
		padding-bottom: 560px !important;
		&+.product-row .product-inner {
			margin-top: -560px;
		}
	}
*/
/*
	#sky-ss7-gateways.has-curve-bottom {
	    padding-bottom: 360px !important;
	}
*/
	#sky-pbx {
		padding-bottom: 100px;
	}

}
@media screen and (min-width: 768px) {
	#site-navigation.main-navigation li {
		font-size: 35px;
	}
	
	#portfolio {
	    position: absolute;
	    top: 43vh;
	    left: -30px;
	    transform: rotate(270deg);
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    z-index: 3;
	    
	    a {
		    color:#ffffff;
		    font-weight: 400;
	    }
	    
	    #portfolioline {
	        background-color: #ffffff;
			width: 2px;
			height: 35px;
			margin-bottom:12px;
	    }
    }
    
    
    .p-right{
	    padding-left: 40px !important;
}

.p-left{
	    padding-right: 40px !important;
}

}
@media screen and (max-width: 767px) {
	
	#services {
		#services-inner {
			flex-direction: column-reverse;
			
			.services-content div {
				width: 100%;
			}
		}
	}

	#process-content {
		img {
			width: 60px !important;
			height: auto;
		}
	}
	
	#logos-container {
		img {
			width: 100px;
		}
	}
	
	.accolades-container{
		justify-content: center;
		align-items: center;
		
		img {
			width: 80% !important;
			margin-bottom: 30px;
			padding: 35px 20px !important;
		} 
	}
	
	.all-products-wrapper {
	    margin-top: 0px;
	}
	
	#header-contact{
		display: none;
	}
	.container-wide {
		padding-left: 15px;
		padding-right: 15px;
	}
	.footer-cta {
		.col-md-6 {
			text-align: center !important;
			p {
				text-align: center !important;
			}
		}
	}
	h2, .h2 {
		font-size: 1.7em;
	}
	.home-hero {
    	h3 {
	    	font-size: 1.3em;
    	}
    	.bg-video {
	    	display: none;
    	}
	}
	.huge-title {
	    font-size: 2.6em;
	}
	#site-navigation.main-navigation li {
		font-size: 24px;
		margin-bottom: 15px;
	}
	.site-header #nav-toggle {
		right: 0;
		left: auto;
	}
	.logo svg {
		width: 60px;
	}

	.product-row {
		.product-inner {
			.row{
				flex-wrap: wrap-reverse
			}
			
			.reverse-wrap-mobile {
				flex-wrap: wrap;
			}
			.text-right, .text-right p {
			    text-align: left !important;
			    .span-line {
				    float: left;
			    }
			}
		}
	}
	.about-us {
		.offset-double-img {
			display: none;
		}
	}
	.product-row:not(#sky-dance) {
		img {
			max-width: 70%;
			margin-top: 15px;
		}
	}
	#sky-dance {
		.img-circle-group {
			margin-top: 10px;
			img {
				max-width: 70%;
			}
			.circle-element {
				width: 250px;
				height: 250px;
			}
		}
	}
	#skyphone-softphone.product-row {
		padding-bottom: 60px;
	}
/*
	#sky-ss7-gateways.has-curve-bottom {
    	padding-bottom: 400px !important;
	}
*/
	ul.ul-w-images {
		display: block;
		width: 100%;
		li.li-with-img {
			width: 100%;
		}
		li:nth-child(odd) {
			padding-left: 0 !important;
		}
	}
	body.products-template-default #primary {
		margin: 2.5em 0;
	}
	.product-content-row {
		margin-top: 2.5em;
	}
}

@media screen and (max-width: 575px) {
	.footer-widgets-wrap .no-title-widget {
		padding-top: 0;
	}
	.footer-widgets-wrap .foot-widget:nth-child(3) {
		margin-top: 15px;
	}
}